<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
        <!-- httpPlatformモジュールを追加 -->
        <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />　
    </handlers>
    <httpPlatform
          processPath="C:\Users\Administrator\AppData\Local\Programs\Python\Python311\Scripts\uvicorn.exe"
          arguments="myapp:app --port %HTTP_PLATFORM_PORT%"
          stdoutLogEnabled="true"
          stdoutLogFile="C:\published\garden\wfastcgi.log"
          startupTimeLimit="60" processesPerApplication="16"
          >
      <environmentVariables>
        <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="FastAPI_APP" value="C:\published\garden\main.py" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>